* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    display: flex;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
    font-size: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
footer { 
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    font-size: 0.8em;
    text-align: center;
}
footer a { 
    color: hsl(228, 45%, 44%); 
}
.container {
    width: 320px;
    height: 490px;
    background-color: white;
    padding: 1rem;
    overflow: auto;
    text-align: center;
    border-radius: 1.25rem;
    box-shadow: 1px 1px 20px rgb(31, 50, 81, 0.3);
}
.qr-code-img {
    width: 100%;
    height: auto;
    border-radius: 0.625rem;
}
h1 {
    font-size: 1.45em;
    margin: 1rem 0;
    padding: 0 0.1rem;
}
p {
    color: hsl(220, 15%, 55%);
    font-size: 1em;
    padding: 0 1em;
}